:root{
    --mybulue: #0a387e;
    --myblack:#000;
    --mywhite: #fff;
    --topicf:"M PLUS Rounded 1c", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

/* overfolowers */
@media(max-width:1400px){
    .bgt{
        display: none;
    }
    .bluebg{
        display: none;
    
    }
    .blackbg{
        display: none;
    }
}
body{
padding-top: 70px;

}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30%;
   background: (255, 255, 255, 0.3);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 80px;
   z-index: 100;
}

.logo img{
    width: 100px;
}

.listNav{
    display: flex;
    gap: 25%;
    list-style: none;
    position: relative;


}

.listNav li a:hover{
    color:var(--mybulue);
    font-size: 20px;
}

.listNav li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: 0.5s;

}

.joinus{
    padding: 10px 15px;
    border-radius: 40px;
    background: var(--mybulue);
}
.joinus:hover{
    background: #000;
    color: #fff;
}
.joinus a{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
}

.show{
    font-size: 25px;
    display: none;

}

.hide{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--mywhite);
    display: none;
}

/* 
navbar responsive */
@media (max-width:1200px){
    .listNav{
        position: absolute;
        flex-direction: column;
        top: 0;
        right:255%;
        background: var(--mybulue);
        padding: 100px;
        border: 2px solid #000;
    }
    .listNav li{
        padding-bottom: 40px;
    }
    .listNav li a:hover{
        color: white;
    }
    .joinus{
        position: absolute;
        bottom: -370px;
        right: 255%;
        background:var(--mywhite);
    }
    .joinus a{
        color: #000;
    }
    .show i, .show{
        display: block;
        
    }
    .hide{
        display: block;
    }


}


/* ------------------------------------------- */
.graduated{
    border: 2px solid #737171;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
}
.graduated i{
    font-size: 20px;
    color: #0a387e;
}

/* bluebackground */
.bluebg{
    width: 500px;
    height: 500px;
    background-color:#0a387e;
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: -100;
    border-radius: 50%;
   filter: blur(100px);
   overflow: hidden;
    
}
.hero{
    text-align: center;
}
.hero h1{
    font-size: 50px;
      font-family: "Berkshire Swash", serif;
}
.hero h1 span{
    color: #0a387e;
      font-family: "Bitcount Grid Double", system-ui;
    font-size: 60px;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 200;
}

.hero img{
    width: 100%;
    width: 1200px;
    border-radius: 20px;
}

.tools{
    margin-top: 50px;
    margin-bottom: 10px;
}
.tools h3{
    font-size: 30px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #0a387e;
}
.toolsimg{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin:auto;
    gap: 10%;
}
.tools img{
    width: 100px;
}

.tools .vs{
    width: 190px;
}
.tools .fa{
    width: 190px;
}
.tools .gf{
    width: 50px;
}
/* hero responsive */

@media(max-width:900px){
    .hero h1{
        font-size: 30px;
    }
    .hero h1 span{
        font-size: 40px;
    }

    .hero p{
        font-size: 14px;
    }
    .hero img{
        width: 90%;

    }
    .toolsimg{
        width: 50px;

    }
    .toolsimg img{
        width: 30px;
    }
    .tools .vs{
    width: 100px;
}
.tools .fa{
    width: 100px;
}
.tools .gf{
    width: 30px;
}
.tools h3{
    font-size: 20px;
}

}

/* ----------------------------------------------------------- */
/* service */
.services{
    background: #0a387e;
    min-height: 80vh;
    color: #fff;
    padding: 40px;
    margin-top: 40px;
    position: relative;
}
.blackbg{
    position: absolute;
    width: 400px;
    height: 400px;
    top: -30%;
    right: -100px;
    background:#000;
    border-radius: 50%;
    filter: blur(100px);
    overflow: hidden;
}
.services h1{
    text-align: center;
    font-family:var(--topicf);
    font-size: 40px;
    margin-bottom: 20px;
    
}
.services h6{
    text-align: center;
    margin-bottom: 40px;
    color: #000;
    font-size: 20px;
}
.serviceRow{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 5%;

}

.serviceBox{
    border: 2px solid #000;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    transition: 1s;
   
}
.serviceBox:hover{
    border: 2px solid #fff;
}
.serviceBox i{
    font-size: 20px;
    border: 2px solid #000;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.serviceBox i:hover{
    align-self: flex-end;
}
.service h5{
    font-size: 20px;
}
.service p{
    text-align: left;
    color: #fff;


}



.service p button{
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
    text-decoration: underline;
 
}
.service p span{
    display: none;
}

@media(max-width:900px){
    .services{
       overflow-y: auto;
    }
    .services h1{
        font-size: 18px;
    }
    .services h6{
        font-size: 15px;
    }
    .serviceRow{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        padding-bottom: 200px;

    }
}



/* ----------------------------------------------- */

/* about me */
.aboutMe{
    min-height: 100vh;
    margin-top: 30px;
    position: relative;
}
.aboutMe h1{
    text-align: center;
    font-size: 50px;
    color: #0a387e;
}
.aboutMe p{
    text-align: center;

}

.about-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img-border{
    flex: 1;
    margin-left: 130px;
}
.about-col .aboutp{
    flex: 1;
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
    padding: 20px;
}
.about-col .aboutp a{
    text-decoration: none;
    font-size: 15px;
    padding: 12px 20px;
    background: #0a387e;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    

}

.aboutMe .logoMove img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 190px;
    top: 5%;
    z-index: -1;
}

@media (max-width:1000px){
    .aboutMe h1{
        font-size: 30px;
    }
    .aboutMe p {
        font-size: 20px;
        padding: 20px;
        
    }

    .img-border{
       margin: 0;
    }
    .img-border img{
        width: 350px;
        background-color:#4a5668;
        border-top-left-radius: 280px;
        box-shadow: 1px 1px 10px 1px #000;
    }
    .logoMove{
        display: none;
    }
    .about-col{
        flex-direction: column;
    }
}












/* ------------------------------------------ */
.testimonial{
    height: 50vh;
    text-align: center;
}
.testimonial h1{
    font-size: 50px;
}



.testM{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: #fff;
    position: relative;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reveiw{
    text-align: center;
    background: #0a387e;
    padding: 20px;
    margin: 0 50px;
    border-radius: 20px;
    position: relative;
    display: none;
}
.reveiw img{
    width: 80px;
    height:80px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    position: absolute;
    top:-35px;
    left: 40%;
}
.reveiw p{
    padding: 20px;
    margin-top: 30px;

}
.reveiw h3{
    color: #000;
}

.slider button{
    color: #000;
    font-size: 50px;
    background: none;
    border: none;
    outline: none;
}

.reveiws .slide{
    display: block;
}

.imageTest{
    background-color:#4a5668;
    border-top-left-radius: 980px;
    border-bottom-right-radius: 980px;
    margin-top: 20px;
    width: 300px;
    height: auto;
         
}
.imageTest img{
     background-color:#333334;
     border-top-left-radius: 980px;
    border-bottom-right-radius: 980px;
}
.reveiw i{
    color: #f29602;
}

.testM .bgt{
    position: absolute;
    width: 400px;
    height:400px;
    background: #0a387e;
    border-radius: 50%;
    top: -250px;
    left: 35%;
    filter: blur(150px);
    border: 2px solid #000;
    z-index: -2;
}


@media (max-width:1400px){
    .testimonial h1{
    font-size: 30px;
}
.testimonial p{
    margin-bottom: 50px;
}
.reveiw img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    position: absolute;
    top:-30px;
    left: 37%;
}
.imageTest{
    width: 200px;
    height: auto;
         
}
.imageTest img{
    width: 300px;
    height: auto;
    background-color:#333334;
    border-bottom-right-radius: 980px;
    border-bottom-right-radius: 980px
}


}